/* =Base */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: $iron;
    background-color: $dorian;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: $slate;
    font-size: 42px;
    line-height: 1.2em;
    text-align: center;
}

a {
    color: $iron;
    // text-decoration: none;

    &:hover {
        color: $ridley;
    }
}
h1 a,h2 a {
  text-decoration: none;
}

p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
    color: $cloudy;
//    margin-left: 50px;
    width: 70%;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

video {
    width: 100%;
    height: auto   !important;
}

blockquote {
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0px;
    position: relative;
}

    blockquote>p {
        color: $slate;
        margin-left: 0;
        width: 100%;
        font-size: 30px;
        font-style: italic;
        font-weight: 400;
        line-height: 1.5em;
        text-align: center;
    }

    blockquote > p > a {
        color: $gunship;
    }

footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: 1080px;
    margin: 0 auto 100px;
}

.header {
    overflow: hidden;
    margin-bottom: 15px;
}

.navigation {
    // display: flex;
    justify-content: space-between;
}

.name {
    margin: 3em auto 2em;
    text-align: center;
}

.name h1 {
    margin-bottom: .1em;
}

.logo {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: -1px;
    color: $gunship;
    display: block;
    // text-transform: uppercase;
}


.subtitle {
    margin-top: .2em;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    // margin-top: 3px;
}

.menu {
    // float: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    padding: 0px;
    list-style-type: none;
}

li.menu__entry {
    // float: left;
    display: inline-block;
}

.menu__entry a {
    color: $cloudy;
    padding: 3px 8px 3px;
    text-decoration: none;

    &:hover {
        color: $slate;
    }
}

.social-links {
    float: right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Titles */
.page-title {
    display: none;
    margin-top: 20px;
    margin-bottom:125px;
    text-align: center;
}

.page-title__text {
    font-weight: 700;
    font-size: 70px;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
}

.post-title {
//    display: block;
    margin-bottom: 110px;
}

.post-title__text {
    font-size: 40px;
}

.post-title__subtitle {
    font-size: 20px;
}

/* =Post teasers */

.list-posts {
    list-style-type: none;
    padding: 0px;
}

.post-teaser {
    margin-bottom: 45px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.post-teaser_info {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
//    background: rgba(140, 138, 135, .5);
//    background: rgba(255, 255, 255, .6);
//    padding-top: 16%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
//    .post-teaser_info:hover {
//        opacity: 100;
//    }

    .post-teaser_info > ul {
        padding: 0;
    }

.post-teaser_title {
//    margin: 12% 0 .4em;
    margin: 0;
    padding: 28px 0 20px;
    font-size: 10.5vmin;
    line-height: .8em;
    letter-spacing: 2px;
    color: $ridley;
}

.post-teaser_subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $light;
}

.post-teaser_tag {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    // vertical-align: middle;
    // color: $cloudy;
}

.post-teaser-wrapper {
    margin: 0 auto;
    position: relative;
    width: 60%;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .post-teaser-wrapper:hover {
    //      -moz-transform: scale(1.05) rotate(0.5deg);
    //      -webkit-transform: scale(1.05) rotate(0.5deg);
    //      transform: scale(1.05) rotate(0.3deg);
    }

.post-teaser_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(140, 138, 135, .5);
    background-blend-mode: multiply;
}

.post-featured_image {
    margin: 0;
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__devider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories__item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories__item a {
    color: $iron;
}

.categories__item:after {
    content: "/";
    margin-left: 6px;
    color: $cloudy;
}

.categories__item:last-child:after {
    content: "";
    margin-left: 0px;
}


/* =Post page */
.about {
    color: $cloudy;
    margin-top: 70px;
    text-align: center;
    line-height: 24px;
}

.about__devider {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 9.09px;
}

.about__text {
    font-size: 18px;
}

.embed-container {
	position: relative;
    margin: 40px inherit;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.embed-narrow {
    margin: 0 auto;
    padding-bottom: 45%; /* 16:9 */
    width: 83.33333%;
}

#disqus_thread {
    margin-top: 100px;
}

/* =Content */

.content {
    color: $cloudy;
}

.content h3 {
    margin: 1.75em 0 .75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    // font-weight: 400;
    // font-style: italic;
}

.content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.content li {
    // text-indent: -15px;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5em;
}

// .content li:before {
//   content: "– ";
//   text-indent: -15px;
// }

.caption {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
    color: $gunship;
    margin: -25px auto 0;
}

.caption img {
    margin-bottom: 15px;
}

.kicker {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -.006em;
    line-height: 1.3;
}

.awards {
    margin: 0 50px 0;
    padding-bottom: 1.75em;
    color: $slate;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    width: 41.66667%;
}

.row {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    // align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.row .row-item img {
    width: 100%;
}

.row-item {
    flex-shrink: 2;
    padding: 0 20px;
//    flex: 0 2;
}

.column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    float: left;
    min-height: 2px;
}

.large-4 {
    width: 33.33333%;
}

.large-5 {
    width: 41.66667%;
}

.large-6 {
    width: 50%;
}

.large-7 {
    width: 58.33333%;
}

.large-offset-1 {
    margin-left: 8.33333%;
}

.large-offset-2 {
    margin-left: 16.66667%;
}

.pad {
    padding-top: 6%;
    padding-bottom: 4%;
}

// Need to reomve padding from outer p before this works
.no-pad {
    padding-top: 0;
    padding-bottom: 0;

    &>img {
        margin: 0;
    }
}

.full-width img, .full-width.row {
    max-width: none;
    width: 100vw;
    margin-left: calc((100vw - 1080px) / -2);
    margin-right: calc((100vw - 1080px) / -2);
}

.half-width {
    width: 50%;
}

.vert-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.mm-tease {
    background-color: rgb(245, 244, 246);
    height: 587px;
    padding-top: 80px;
    margin-bottom: 30px;

        & > div {
            height: 100%;
        }
}

@media (max-width: 1080px) {
    /* =Base */
    p {
        font-size: 20px;
        line-height: 1.6;
        margin-left: 10%;
        width: 80%;
    }

    img {
        display: block;
        width: 100%;
        max-width: 100vw;
    }

    .wrapper {
        width: 100%;
        max-width: 1080px;
    }

    .navigation,
    .social-links,
    .menu {
        @include centered-block();
    }

    .menu__entry {
    display: inline-block;
    margin-right: 35px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .page-title__text {
        font-size: 40px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }

    .post-teaser_title {
        font-size: 9.5vw;
//        font-size: 18px;
//        margin-top: 110px;
//        @include centered-block();
    }

    .post-teaser_info {
//        padding-top: 9%;
    }

    .post-teaser_tag {
        font-size: 16px;
        // margin-top: 10px;
        float: none;
        display: none;
        // @include centered-block();
    }

    .post-teaser-wrapper {
        width: 100%;
    }

    .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }

    .awards {
        width: 80%;
    }

    // .row {
    //     display: block;
    // }
    //
    // .row-item {
    //     margin: 0 auto;
    // }

    .full-width img {
        width: inherit;
        margin: inherit;
    }

    .half-width {
        // width: 100%;
    }

}
